*{
    padding: 0px;
    margin: 0px;
   
}
body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.header{
    width: 80%;
    height: 60px;
    background: #1b382c;
    margin: auto;
}
.h2_logo{
    color: #fff;
    float: left;
    margin: 10px;
}
.img_logo{
    width:50px;
    height:50px;
    margin: 10px;
    border-radius:50%;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    float:right;
}
.nav{
    width: 80%;
    height: 60px;
    background:#3a2524;
    margin: auto;
}
.nav:hover{
    background: rgb(133, 134, 132);
}
ul {
    list-style-type: none;
    cursor: pointer;
    margin-left: 60px;
}

li {
    background: rgba(176,255,95,1);
    float: left;
    margin-right: 10px;
    padding: 12px 25px;
    margin: 10px;
    border-radius:10%;
}
li:hover{
    transform:rotate(380deg);
}
.li1{
    color:#3a2524;
}
.li1{
    background-image:url("../img/boton/acero1.jpg");
}
.li1:hover{
    color: #DD3E2C;
}
/* ---------------------- */
.li2{
    color:#3a2524;
}
.li2{
    background-image:url("../img/boton/acero1.jpg");
}
.li2:hover{
    color: #DD3E2C;
}
/* --------------------- */
.li3{
    color:#3a2524;
}
.li3{
    background-image:url("../img/boton/acero1.jpg");
}
.li3:hover{
    color: #DD3E2C;
}
/* --------------------- */
/*.timer{
    position: absolute;
    background: #1b382c;
    color: #fff;
    width: 30px;
    height: 20px;
    margin: 5px;
}*/
/*.sonido{
    position: absolute;
    display: none;
}
*/
/* ----------- tanque  ---------------------*/


.guj{
    position: absolute;
    width: 240px;
    height: 350px;
   
}
.cañon{
    position: absolute;
    width: 400px;
    height: 400px;
}
/*.img_tanque{
    width: 230px;
    height: 230px;
    margin-top: 3px;
    margin-left: 460px;
  
}*/
.img_cañon{
    width: 180px;
    height: 220px;
    margin-top: -60px;
    margin-left: 540px;
}
.carr{
    position: absolute;
    bottom: 35px;
    width: 100%;
    height: 10px;
}
/* --------------- animacion disparo ------------*/

.dot{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    background: rgba(176,255,95,1);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(176,255,95,1),
                0 0 20px rgba(176,255,95,1),
                0 0 40px rgba(176,255,95,1),
                0 0 60px rgba(176,255,95,1),
                0 0 80px rgba(176,255,95,1);
    
    animation-name: animar;
    animation-duration: 2s;
}

@keyframes animar {
    0%   {box-shadow: 0 0 0 30px rgba(176,255,95,.1);}
    1%  {box-shadow: 0 0 0 60px rgba(176,255,95,.1);}
    2%  {box-shadow: 0 0 0 120px rgba(176,255,95,.1);}
    3%  {box-shadow: 0 0 0 240px rgba(176,255,95,.1);}
    4%  {box-shadow: 0 0 0 480px rgba(176,255,95,.1);}
    5% {box-shadow: 0 0 0 960px rgba(176,255,95,.1);}
    6% {box-shadow: 0 0 0 1800px rgba(176,255,95,.1);}
    
}
/*-------- linea de tiempo luna --------------------*/
.exlu{
    display: none;
    position: absolute;
    top: 80%;
    left:80%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    background: rgba(248, 252, 247,1);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(248, 252, 247 ,1),
                0 0 20px rgba(248, 252, 247 ,1),
                0 0 40px rgba(248, 252, 247 ,1),
                0 0 40px rgba(248, 252, 247 ,1),
                0 0 60px rgba(248, 252, 247 ,1),
                0 0 60px rgba(248, 252, 247 ,1),
                0 0 80px rgba(248, 252, 247 ,1),
                0 0 90px rgba(248, 252, 247 ,1),
                0 0 90px rgba(248, 252, 247 ,1),

                0 0 300px rgba(248, 252, 247 ,1),
                0 0 400px rgba(248, 252, 247 ,1),
                0 0 600px rgba(248, 252, 247 ,1),
                0 0 800px rgba(248, 252, 247 ,1),
                0 0 900px rgba(248, 252, 247 ,1),
                0 0 1200px rgba(248, 252, 247 ,1),
                
                0 0 300px rgba(248, 252, 247 ,1),
                0 0 600px rgba(248, 252, 247 ,1),
                0 0 1200px rgba(248, 252, 247 ,1),
                0 0 2400px rgba(248, 252, 247 ,1),
                0 0 4800px rgba(248, 252, 247 ,1),
                0 0 9600px rgba(248, 252, 247 ,1);
   
    
    animation-name: animaLuna;
    animation-duration: 2s;
}
@keyframes animaLuna{
    0%   {box-shadow: 0 0 0 30px rgba(248, 252, 247,.1);}
    1%  {box-shadow: 0 0 0 60px rgba(248, 252, 247,.1);}
    1.5%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    1.6% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    1.7% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}
    1.8%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    2% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    3% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}
    4%  {box-shadow: 0 0 0 120px rgba(248, 252, 247,.1);}
    5%  {box-shadow: 0 0 0 240px rgba(248, 252, 247,.1);}
    6%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    7% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    8% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}
    9%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    10% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    11% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}

    30%  {box-shadow: 0 0 0 120px rgba(248, 252, 247,.1);}
    30%  {box-shadow: 0 0 0 240px rgba(248, 252, 247,.1);}
    40%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    40% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    50% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}
    50%  {box-shadow: 0 0 0 480px rgba(248, 252, 247,.1);}
    80% {box-shadow: 0 0 0 960px rgba(248, 252, 247,.1);}
    90% {box-shadow: 0 0 0 1800px rgba(248, 252, 247,.1);}
}
.img_mano{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    top: 110px;
    right: 400px;
}
.contador{
   position: absolute;
   display: none;
    width: 50px;
    height: 30px;
    top: 40px;
    right: 10px;
    border-radius: 50%;
    background: #1b382c;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

/*-----------------------  contactos  ---------------------------------*/
.cont{
   margin-top: 100px;
    width: 40px;
    height: 220px;
    border-radius:10%;
    background: rgb(133, 134, 132);
}

.img_face{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:5px;
}

.img_face:hover{
    transform:scale(1.2);
    transform:rotate(380deg);
}
.gi{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:5px;
}
.gi:hover{
    transform:scale(1.2);
    transform:rotate(380deg);
}
.go{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:5px;
}
.go:hover{
    transform:scale(1.2);
    transform:rotate(380deg);
}
.tu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:5px;
}
.tu:hover{
    transform:scale(1.2);
    transform:rotate(380deg);
}
.tum{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin:5px;
}
.tum:hover{
    transform:scale(1.2);
    transform:rotate(380deg);
}
.luna{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 88;
   
}
.lun{
   display: none;
    top: 30px;
    left: 300px;
    width:100px;
    height:100px;
    cursor: pointer;
}
/*-------------------------------- Articulo 1 -------------------------------*/
.articulo1{
    position: absolute;
    top: 0px;
    margin: 5px;
    width: 1350px;
    height: 580px;
    background: #fff;
    z-index: 99;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr 1fr;
}

.hj2{
    margin: auto;
    text-align:center;
    color: #fff;
    text-shadow: 2px 10px 5px #1C9105;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.art1{
    margin: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sa{
    margin-left:940px;
    background:#000;
    color: #F81D03;
    cursor: pointer;
}
.sa:hover{
    transform:rotate(380deg);
}
.j_art{
    width: 100%;
    height: 80px;
    background: #1b382c;
}
.j_art1{
    margin: 5px;
    width: 180px;
    height: 180px;
    float: left;    
}
.j_art2{
    margin: 5px;
    width: 180px;
    height: 180px;
    float: right;
}
.j_art3{
    margin: 5px;
    width: 180px;
    height: 180px;
    float: right;
}
.j_art4{
    margin: 5px;
    width: 180px;
    height: 180px;
    float: right;
}
.j_art5{
    margin: 5px;
    width: 180px;
    height: 180px;
    float: right;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.imgj{
    width: 180px;
    height: 180px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
}
.imgj1{
    width: 180px;
    height: 180px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
}
.imgj2{
    width: 180px;
    height: 180px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
}
.imgj3{
    width: 180px;
    height: 180px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
}
.imgj4{
    width: 180px;
    height: 180px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
}
.imgj:hover{
    transform:scale(1.1);
}
.imgj1:hover{
    transform:scale(1.1);
}
.imgj2:hover{
    transform:scale(1.1);
}
.imgj3:hover{
    transform:scale(1.1);
}
.imgj4:hover{
    transform:scale(1.1);
}
.imgj5:hover{
    transform:scale(1.1);
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.escrive{
    grid-column:2/3;
    grid-row: 2/3;
    margin: 10px;
    width: 100%;
    height: 180px;
}

.pra{
    color: #000;
    font-size: 20px;
}
#enter{
    width: 200px;
    height: 30px;
    color: #fff;
    background: #1b382c;
    cursor: pointer;
    border-radius:10%;
}
#enter:hover{
    transform:scale(1.1);
    
}


/*-------------------------------- Articulo 2 -------------------------------*/
.articulo2{
    position: absolute;
    top: 0px;
    margin: 5px;
    width: 1350px;
    height: 580px;
    background: #fff;
    z-index: 99;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
   
}
.sa2{
    margin-left:940px;
    background:#000;
    color: #F81D03;
    cursor: pointer;
}
.sa2:hover{
    transform:rotate(380deg);
}
.hti{
    margin: auto;
    text-align:center;
    color: #fff;
    text-shadow: 2px 10px 5px #1C9105;
}
.con_ar1{
    margin: 10px;
    grid-column:2/3; 
}
.titu{
    height: 50px;
    background: #1b382c;
}
/*++++++++++++++++++++++++++++++++++++++++++++++*/
.caja1{
    width: 70%;
    margin: 5px;
    height: 100px;
}
.p1{
    color: #000;
    font-size: 17px;
    margin: 0px 10px;
}
.caja2{
    width: 70%;
    margin: 5px;
    height: 100px;
    margin: 5px 10%;
}
.caja3{
    width: 70%;
    margin: 5px;
    height: 100px;
    margin: 5px 20%;
}
.caja4{
    width: 70%;
    margin: 5px;
    height: 100px;
    margin: 5px 30%;
}
.caja5{
    width: 200;
    margin: 5px;
    height: 35px;
}
#ent{
    width: 200px;
    height: 30px;
    background: #1b382c;
    color: #fff;
    text-shadow: 2px 10px 5px #1C9105;
    cursor: pointer;
}
.caja_1{
    width: 100px;
    height: 100px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
    float: left;
}
.caja_2{
    width: 100px;
    height: 100px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
    float: left;
}
.caja_3{
    width: 100px;
    height: 100px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
    float: left;
}
.caja_4{
    width: 100px;
    height: 100px;
    object-fit: cover;/*esta etiqueta es para que la imagen no pierda su calidad */
    border-radius: 10%;
    float: left;
}
.caja_1:hover{
    transform:scale(1.1);
}
.caja_2:hover{
    transform:scale(1.1);
}
.caja_3:hover{
    transform:scale(1.1);
}
.caja_4:hover{
    transform:scale(1.1);
}
#ent:hover{
    transform:scale(1.1);
}
/*-------------------------------- Articulo 3 -------------------------------*/
.articulo3{
    position: absolute;
    display: none;
    top: 0px;
    margin: 5px;
    width: 1350px;
    height: 580px;
    background: #fff;
    z-index: 99;
}
.sa3{
    margin-left:1330px;
    background:#000;
    color: #F81D03;
    cursor: pointer;
}
.sa3:hover{
    transform:rotate(380deg);
}
.h2{
    margin: auto;
    text-align:center;
    color: #000;
    text-shadow: 2px 10px 5px #1C9105;
}

